flows.json
[
    {
        "id": "bb53a7b7fb7842e1",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f01da9359dc56bfd",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "login_group",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": false,
        "label": "Đăng nhập",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#",
        "className": "",
        "icon": "login",
        "payload": "{\"tab\":\"Trang chủ\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "c7829e8ed9143214"
            ]
        ]
    },
    {
        "id": "c7829e8ed9143214",
        "type": "ui_ui_control",
        "z": "bb53a7b7fb7842e1",
        "name": "Switch Tab",
        "events": "all",
        "x": 310,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "c0cb6ebeae978c67",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "login_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 110,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "7e01afc8a61889b0",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Mật khẩu",
        "tooltip": "",
        "group": "login_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "02d7ccc09e0aa902",
        "type": "ui_gauge",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "bc2745e9261eecb8",
        "order": 2,
        "width": "6",
        "height": "7",
        "gtype": "gage",
        "title": "Khí gas",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 280,
        "y": 400,
        "wires": [],
        "inputLabels": [
            "45"
        ]
    },
    {
        "id": "69abccaf0412e95a",
        "type": "ui_gauge",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "2479d9c11390cb6d",
        "order": 1,
        "width": "6",
        "height": "10",
        "gtype": "wave",
        "title": "Độ ẩm",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 410,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9b86a7c8bbf5a3f4",
        "type": "ui_gauge",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "bc2745e9261eecb8",
        "order": 1,
        "width": "6",
        "height": "10",
        "gtype": "donut",
        "title": "Bụi mịn",
        "label": "µg/m³",
        "format": "{{value}}",
        "min": "0",
        "max": "500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b81a063d7f5748d2",
        "type": "ui_gauge",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "2479d9c11390cb6d",
        "order": 2,
        "width": "6",
        "height": "7",
        "gtype": "gage",
        "title": "Nhiệt độ",
        "label": "℃ ",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 1040,
        "wires": []
    },
    {
        "id": "83161d9f121ddbd5",
        "type": "ui_chart",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "c902f90e6aca1a97",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "Môi trường",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b2d4e5eb38dff9e0",
        "type": "ui_slider",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Nhiệt độ",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 120,
        "y": 760,
        "wires": [
            [
                "647c8639150afac7"
            ]
        ]
    },
    {
        "id": "e95a9d44265a0a57",
        "type": "ui_slider",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Khí gas",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "6ce8b039ee6867bf"
            ]
        ]
    },
    {
        "id": "cc39f74b2fb41e5b",
        "type": "ui_slider",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Bụi mịn",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 120,
        "y": 840,
        "wires": [
            [
                "67b64173ade9236f"
            ]
        ]
    },
    {
        "id": "b328df2450a0149a",
        "type": "ui_slider",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Độ ẩm",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "68131ab53a2250c8"
            ]
        ]
    },
    {
        "id": "647c8639150afac7",
        "type": "ui_text",
        "z": "bb53a7b7fb7842e1",
        "group": "8841171fe2e5f73f",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#f4230b",
        "x": 270,
        "y": 760,
        "wires": []
    },
    {
        "id": "68131ab53a2250c8",
        "type": "ui_text",
        "z": "bb53a7b7fb7842e1",
        "group": "8841171fe2e5f73f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#f4230b",
        "x": 270,
        "y": 720,
        "wires": []
    },
    {
        "id": "6ce8b039ee6867bf",
        "type": "ui_text",
        "z": "bb53a7b7fb7842e1",
        "group": "8841171fe2e5f73f",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#f4230b",
        "x": 270,
        "y": 800,
        "wires": []
    },
    {
        "id": "67b64173ade9236f",
        "type": "ui_text",
        "z": "bb53a7b7fb7842e1",
        "group": "8841171fe2e5f73f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Giá trị:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": 16,
        "color": "#f4230b",
        "x": 270,
        "y": 840,
        "wires": []
    },
    {
        "id": "fa0e34d20ec85684",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "8841171fe2e5f73f",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Xác nhận",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 440,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "baae4bded45fcbbe",
        "type": "ui_switch",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Relay",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 920,
        "wires": [
            [
                "1c523a86f66e0b04"
            ]
        ]
    },
    {
        "id": "1a3a47563c9c4da5",
        "type": "ui_switch",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Buzzer",
        "tooltip": "",
        "group": "8841171fe2e5f73f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "5db157d565686b0c"
            ]
        ]
    },
    {
        "id": "0d4ac45c4ce7d277",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "72aa82b9e770af92",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "fb6a716031531599",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "login_group",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Quên mật khẩu?",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Quên mật khẩu\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "c7829e8ed9143214"
            ]
        ]
    },
    {
        "id": "04e2b1562eec326c",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Mã xác nhận",
        "tooltip": "",
        "group": "f0f84895977cfd6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 510,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "5ccba3af9a296a47",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "72aa82b9e770af92",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tiếp tục",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#",
        "className": "",
        "icon": "confirm",
        "payload": "{\"tab\":\"Xác nhận\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 950,
        "y": 380,
        "wires": [
            [
                "54bc488705668830"
            ]
        ]
    },
    {
        "id": "d8b0550da03fadeb",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Mật khẩu",
        "tooltip": "",
        "group": "c57aef7b9edd92a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4a9ff267618875c4",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Xác nhận mật khẩu",
        "tooltip": "",
        "group": "c57aef7b9edd92a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 530,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "54bc488705668830",
        "type": "ui_ui_control",
        "z": "bb53a7b7fb7842e1",
        "name": "Switch Tab",
        "events": "all",
        "x": 1130,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "acc688e1174e9223",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "c57aef7b9edd92a0",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Xác nhận",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#",
        "className": "",
        "icon": "confirm",
        "payload": "{\"tab\":\"Trang chủ\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "edee5fb944db0cd8"
            ]
        ]
    },
    {
        "id": "edee5fb944db0cd8",
        "type": "ui_ui_control",
        "z": "bb53a7b7fb7842e1",
        "name": "Switch Tab",
        "events": "all",
        "x": 690,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a1593dfbae280bc1",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "login_group",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Không có tài khoản? Tạo một cái.",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Đăng ký\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "c7829e8ed9143214"
            ]
        ]
    },
    {
        "id": "59d7d7d56d6ada36",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Email",
        "tooltip": "",
        "group": "6f469d59f7c4209a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "3195df88e70ca6fd",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Họ",
        "tooltip": "",
        "group": "6f469d59f7c4209a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4e0b76732644e5e2",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Tên",
        "tooltip": "",
        "group": "6f469d59f7c4209a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "58e2923a92b3f313",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "6f469d59f7c4209a",
        "order": 7,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tiếp tục",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#",
        "className": "",
        "icon": "register",
        "payload": "{\"tab\":\"Xác nhận\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 950,
        "y": 260,
        "wires": [
            [
                "204afcb7957de407"
            ]
        ]
    },
    {
        "id": "204afcb7957de407",
        "type": "ui_ui_control",
        "z": "bb53a7b7fb7842e1",
        "name": "Switch Tab",
        "events": "all",
        "x": 1130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "368c5d3397722dcd",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "Login Button",
        "group": "f0f84895977cfd6f",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Tiếp tục",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#",
        "className": "",
        "icon": "confirm",
        "payload": "{\"tab\":\"Mật khẩu mới\"}",
        "payloadType": "json",
        "topic": "",
        "topicType": "str",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "316e948748deea7f"
            ]
        ]
    },
    {
        "id": "316e948748deea7f",
        "type": "ui_ui_control",
        "z": "bb53a7b7fb7842e1",
        "name": "Switch Tab",
        "events": "all",
        "x": 690,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "58a9a65b89aa6da3",
        "type": "ui_dropdown",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Giới tính",
        "tooltip": "",
        "place": "Select option",
        "group": "6f469d59f7c4209a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Nam",
                "value": "Nam",
                "type": "str"
            },
            {
                "label": "Nữ",
                "value": "Nữ",
                "type": "str"
            },
            {
                "label": "Khác",
                "value": "Khác",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "643306ae90ba24fe",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Địa chỉ",
        "tooltip": "",
        "group": "6f469d59f7c4209a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 930,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2221ced4d9413554",
        "type": "ui_text_input",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Ngày sinh",
        "tooltip": "",
        "group": "6f469d59f7c4209a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 940,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "81858caa043e3bc3",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "c902f90e6aca1a97",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "RESET DỮ LIỆU",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6a028555c0b020c9",
        "type": "ui_date_picker",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Từ",
        "group": "c902f90e6aca1a97",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 650,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "e37b5727213c3feb",
        "type": "ui_date_picker",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "label": "Đến ",
        "group": "c902f90e6aca1a97",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 770,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2ccb8f363dcd37c4",
        "type": "ui_button",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "c902f90e6aca1a97",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "LỌC",
        "tooltip": "",
        "color": "",
        "bgcolor": "Blue",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "edfa3aece6a04c78",
        "type": "ui_chart",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "group": "c902f90e6aca1a97",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "Chất lương không khí",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1c523a86f66e0b04",
        "type": "mqtt out",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "topic": "/wokwi/relay",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e31421cc3e4b27f6",
        "x": 410,
        "y": 920,
        "wires": []
    },
    {
        "id": "5db157d565686b0c",
        "type": "mqtt out",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "topic": "/wokwi/buzzer",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e31421cc3e4b27f6",
        "x": 420,
        "y": 980,
        "wires": []
    },
    {
        "id": "50aa528941394226",
        "type": "mqtt in",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "topic": "/wokwi/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1183ee75764de5bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 1040,
        "wires": [
            [
                "b81a063d7f5748d2"
            ]
        ]
    },
    {
        "id": "99377cf9d94f5368",
        "type": "mqtt in",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "topic": "/wokwi/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1183ee75764de5bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1120,
        "wires": [
            [
                "69abccaf0412e95a"
            ]
        ]
    },
    {
        "id": "f759f59cb32fcd98",
        "type": "mqtt in",
        "z": "bb53a7b7fb7842e1",
        "name": "",
        "topic": "/wokwi/PM",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1183ee75764de5bf",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 1180,
        "wires": [
            [
                "9b86a7c8bbf5a3f4"
            ]
        ]
    },
    {
        "id": "7099fc6ff1b05d53",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cdde4adfec20f9f",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "aca1cdcb249f4a29",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "3a03057ee1f9247e",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "da97dd4d662d36bc",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4d458d796b76776",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "2d626b358da35c5c",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "692844e0e534a7bc",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "5f282c1a32ccf899",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "d2196e87f4051247",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "ea09f15373bde12e",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "cbe8c25ac3531570",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "1f86340e8f53d7a2",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "1c02dec1a9963281",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "08ba9973d64b1eb4",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "9008d076edd43017",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "aa4fb786010f3d31",
        "type": "ui_spacer",
        "z": "bb53a7b7fb7842e1",
        "name": "spacer",
        "group": "login_group",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "login_group",
        "type": "ui_group",
        "name": "Chào mừng !!!",
        "tab": "login_tab",
        "order": 1,
        "disp": true,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc2745e9261eecb8",
        "type": "ui_group",
        "name": "Chất lượng không khí",
        "tab": "home_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2479d9c11390cb6d",
        "type": "ui_group",
        "name": "Môi trường hiện tại",
        "tab": "home_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c902f90e6aca1a97",
        "type": "ui_group",
        "name": "Biểu đồ",
        "tab": "home_tab",
        "order": 3,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8841171fe2e5f73f",
        "type": "ui_group",
        "name": "Tùy chỉnh ngưỡng",
        "tab": "home_tab",
        "order": 4,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "72aa82b9e770af92",
        "type": "ui_group",
        "name": "Thông tin",
        "tab": "03624fd6e0192ed3",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0f84895977cfd6f",
        "type": "ui_group",
        "name": "Mã xác nhận",
        "tab": "317c5a2e2a252213",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c57aef7b9edd92a0",
        "type": "ui_group",
        "name": "Thông tin",
        "tab": "5fbc7711003e14a0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f469d59f7c4209a",
        "type": "ui_group",
        "name": "Thông tin",
        "tab": "4a22a1a7d67fc9cc",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e31421cc3e4b27f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1183ee75764de5bf",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "login_tab",
        "type": "ui_tab",
        "name": "Đăng nhập",
        "icon": "lock",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "home_tab",
        "type": "ui_tab",
        "name": "Trang chủ",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "03624fd6e0192ed3",
        "type": "ui_tab",
        "name": "Quên mật khẩu",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "317c5a2e2a252213",
        "type": "ui_tab",
        "name": "Xác nhận",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "5fbc7711003e14a0",
        "type": "ui_tab",
        "name": "Mật khẩu mới",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "4a22a1a7d67fc9cc",
        "type": "ui_tab",
        "name": "Đăng ký",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]